#ignore all
*
#add this
!.gitignore

#zbs addons submodule
!zbsmodules
!zbsmodules/*
!zbsmodules/**/*
!zbstudio
!zbstudio/*
!zbstudio/**/*

#add as needed
#add all i3 related configs
!i3*
!i3*/*
!i3*/**/*
!redshift.conf
#all sway stuff
!sway*
!sway*/*
!sway*/**/*
#neovim here you go
!nvim
!nvim/*
!nvim/**/*
#blender configs
!blender
!blender/*
!blender/**/*
#but not the caches
**/*.pyc
